<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <!-- <div style="text-align: right">
    <ul class="social-media-list">
      <li>
        <a class="u-email" href="mailto:anchal@caltech.edu">anchal@caltech.edu</a>
      </li>
      <li>
        <a href="https://github.com/anchal-physics">
          <svg class="svg-icon">
            <use xlink:href="/assets/minima-social-icons.svg#github">
            </use>
          </svg>
          <span class="username">anchal-physics
          </span>
        </a>
      </li>
    </ul>
  </div> -->

  <div class="wrapper">

    <!-- <h2 class="footer-heading">Anchal Gupta</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Email:</li>
          <li>
            <a class="u-email" href="mailto:anchal@caltech.edu">anchal@caltech.edu
            </a>
          </li>
          <li>
            <a class="u-email" href="mailto:anchal.physics@gmail.com">anchal.physics@gmail.com
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li class="p-name">Github:</li>
          <li>
            <a href="https://github.com/anchal-physics">
              <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github">
                </use>
              </svg>
              <span class="username">anchal-physics
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li class="p-name">Gitlab:</li>
          <li>
            <a href="https://gitlab.com/anchal-physics">
              <!-- <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#gitlab">
                </use>
              </svg> -->
              <span class="username">anchal-physics
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li class="p-name">GitLIGO:</li>
          <li>
            <a href="https://git.ligo.org/anchal.gupta">
              <!-- <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#gitlab">
                </use>
              </svg> -->
              <span class="username">anchal.gupta
              </span>
            </a>
          </li>
        </ul>
      </div>


      <!-- <div class="footer-col footer-col-5">
        <ul class="social-media-list">
          <li class="p-name">PyPi:</li>
          <li>
            <a href="https://pypi.org/user/anchal.physics/">
              <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#pypi">
                </use>
              </svg>
              <span class="username">anchal.physics
              </span>
            </a>
          </li>
        </ul>
      </div> -->

      <!-- <div class="footer-col footer-col-3">
        <p>I am a graduate student of physics at California Institute of Technology. I am an experimental physicist and have been working with developing future gravitational wave detectors during my graduate school. My primary interests are precision measurements and control systems and feedback in optical, mechanical, and electronic systems.</p>
      </div> -->
    </div>

  </div>

</footer>
